html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Login
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
    body
        div(class="container")
            h3 Đăng nhập
            form(method="POST" class="col-sm-4")
                div(class="form-group")
                    label(for="email") Email
                    input(type="email" class="form-control" id="email" name="email" placeholder="example@gmail.com")
                    small(id="emailHelp" class="form-text text-muted") We'll never share your email with anyone else.
                div(class="form-group")
                    label(for="password") Password
                    input(type="password" class="form-control" id="password" name="password" placeholder="password")
                button(type="submit" class="btn btn-primary") Login
            include ./footer.pug